<!DOCTYPE html>
<html lang="en">
{%  load static %}
<head>
    <meta charset="UTF-8">
    <title>Hello This is from the index.html</title>

     <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
</head>

    <body>
    <h1>Hello this is index.html</h1>
    <h1>mountain South Island</h1>
    <img src="{% static "images/mountain.jpg" %}" alt="" width="600" height="400">

    <div class="djangoTwo">
        {% if access_records %}

     <table>
           <thead>
                <th>Site Name</th>
              <th>Date Accesed </th>
           </thead>
         {% for acc in access_records %}
          <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
         </tr>
          {% endfor %}
     </table>

        {% else %}
        <p>No Access Records found</p>
        {% endif %}

    </div>

    </body>
</html>